body {
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    background-color: #1e1e2e;
    color: #f9e2af;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#main {
    max-width: 65%;
    margin-top: 40px;
}

.sidebar {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181825;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.sidebar a {
    padding: 10px 10px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    text-decoration: none;
    background-color: #313244;
    color: #cba6f7;
}

.sidebar .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

.openbutton {
    justify-content: left;    
    font-size: 20px;
    cursor: pointer;
    color:#89b4fa;
    background-color: #181825;
    padding: 16px 22px;
    border: none;
}

.navbar {
    overflow: hidden;
    font-size: 20px;
    background-color: #181825;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
    text-align: center;
}

/*
.title {
    width: 100%;
    padding: 0px 0px;
}
*/

.navbar a {
    float: left;
    display: block;
    text-align: left;
    padding: 16px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background: #313244;
    text-decoration: none;
    transition: 0.3s;
}

#startlist {
    background-color: #181825;
    border-radius: 10px;
    text-align: left;
    margin: auto;
    width: 50%;
    padding: 10px 20px;
}

#distrolist {
    background-color: #181825;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
    margin: auto;
    width: 90%;
    padding: 10px 20px;
}

#distrotree {
    display: none;
    width: 50%;
    margin: auto;
}

#distrochooser {
    display: block;
}

#reflist {
    display: none;
    background-color: #181825;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
    margin: auto;
    width: 90%;
    padding: 10px 20px;
}

a:link {
    color: #89b4fa;
    text-decoration: none;
}
a:visited {
    color: #cba6f7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
